<a href="https://colab.research.google.com/github/polivio/PEE/blob/master/KNN_KDD_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://www.kaggle.com/c/kddbr-2019/data

# KNN KDD BR -Polivio
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd
from sklearn.imput import SimpleImputer
from sklearn.model_selection import train_test_split

In [0]:
# preprocessing # blob # raw
train = pd.read_csv('https://github.com/polivio/PEE/raw/master/Training_grouped.csv')
test = pd.read_csv('https://github.com/polivio/PEE/raw/master/Test_grouped.csv')

#df.replace('?', -99999, inplace= True)
#df.drop(['id'] ,1, inplace= True)

train.head()

          Unnamed: 0  ...  traininglabelorder.score
count   80000.000000  ...              8.000000e+04
mean    71577.124537  ...              6.814087e-01
std     41162.632999  ...              3.364197e-01
min         2.000000  ...              2.789468e-10
25%     35996.750000  ...              4.748332e-01
50%     71724.000000  ...              7.951960e-01
75%    107072.250000  ...              9.443186e-01
max    142761.000000  ...              1.000000e+00

[8 rows x 21 columns]

In [0]:
train.columns

Index(['Unnamed: 0', 'traininglabelorder.scatterplotID', 'qtde.ponto',
       'Negative', 'Sample', 'mean.signalX', 'sd.signalX', 'var.signalX',
       'kurtosis.signalX', 'skew.signalX', 'mean.signalY', 'sd.signalY',
       'var.signalY', 'kurtosis.signalY', 'skew.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette', 'traininglabelorder.score'],
      dtype='object')

In [27]:
train = train.loc[:,['traininglabelorder.scatterplotID', 'qtde.ponto',
       'Negative', 'Sample', 'sd.signalX', 'sd.signalY',
       'L', 'X', 'XY', 'Y','mean.silhouette','traininglabelorder.score']]
train.head()

   traininglabelorder.scatterplotID  ...  traininglabelorder.score
0                                 2  ...                  0.009647
1                                 3  ...                  0.842084
2                                 5  ...                  0.744601
3                                 6  ...                  0.842084
4                                 9  ...                  0.944177

[5 rows x 12 columns]

In [26]:
test.columns

Index(['Unnamed: 0', 'testorder.ID', 'qtde.ponto', 'Negative', 'Sample',
       'mean.signalX', 'sd.signalX', 'var.signalX', 'kurtosis.signalX',
       'skew.signalX', 'mean.signalY', 'sd.signalY', 'var.signalY',
       'kurtosis.signalY', 'skew.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette'],
      dtype='object')

In [30]:
test = test.loc[:,['testorder.ID', 'qtde.ponto', 'Negative', 'Sample',
       'mean.signalX', 'sd.signalX', 'var.signalX', 'kurtosis.signalX',
       'skew.signalX', 'mean.signalY', 'sd.signalY', 'var.signalY',
       'kurtosis.signalY', 'skew.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette']]
test.head(20)

    testorder.ID  qtde.ponto  Negative  ...     XY      Y  mean.silhouette
0              1         384         4  ...  167.0   94.0         0.916505
1             22         384         4  ...  189.0   99.0         0.891220
2             27         382         4  ...   73.0  254.0         0.947689
3             31         370         4  ...   10.0  185.0         0.954000
4             55         384         4  ...  182.0   92.0         0.829513
5             78         384         4  ...  221.0  124.0         0.419574
6             80         373         4  ...   10.0   91.0         0.896077
7             89         384         4  ...  361.0   10.0         0.858830
8            103         112         2  ...   36.0   72.0         0.896741
9            104         212         3  ...   64.0  120.0         0.953351
10           116         375         4  ...   20.0  216.0         0.952802
11           129         384         4  ...   27.0  188.0         0.897665
12           131         371         4  ...    NaN   47.0         0.952402
13           133         309         4  ...    2.0  169.0         0.949457
14           141         384         4  ...  156.0   77.0         0.890903
15           147         384         4  ...   18.0  248.0         0.894931
16           149         384         4  ...    4.0  368.0         0.926698
17           158         384         4  ...  114.0   81.0         0.736624
18           161         384         4  ...   11.0  181.0         0.921240
19           172         380         4  ...  192.0   79.0         0.900564

[20 rows x 19 columns]

In [28]:

# https://stackoverflow.com/questions/49420427/pandas-df-fillnadf-mean-not-working-on-multiindex-dataframe

train = train.reset_index()

train = train.fillna(train.mean())
train.head(20)

    index  ...  traininglabelorder.score
0       0  ...                  0.009647
1       1  ...                  0.842084
2       2  ...                  0.744601
3       3  ...                  0.842084
4       4  ...                  0.944177
5       5  ...                  1.000000
6       6  ...                  0.578706
7       7  ...                  1.000000
8       8  ...                  0.944319
9       9  ...                  0.751477
10     10  ...                  1.000000
11     11  ...                  0.283536
12     12  ...                  0.474833
13     13  ...                  0.647776
14     14  ...                  0.795196
15     15  ...                  1.000000
16     16  ...                  0.006463
17     17  ...                  0.768378
18     18  ...                  0.944177
19     19  ...                  0.745189

[20 rows x 13 columns]

In [31]:
test = test.reset_index()

test = test.fillna(train.mean())
test.head(20)

    index  testorder.ID  qtde.ponto  ...          XY      Y  mean.silhouette
0       0             1         384  ...  167.000000   94.0         0.916505
1       1            22         384  ...  189.000000   99.0         0.891220
2       2            27         382  ...   73.000000  254.0         0.947689
3       3            31         370  ...   10.000000  185.0         0.954000
4       4            55         384  ...  182.000000   92.0         0.829513
5       5            78         384  ...  221.000000  124.0         0.419574
6       6            80         373  ...   10.000000   91.0         0.896077
7       7            89         384  ...  361.000000   10.0         0.858830
8       8           103         112  ...   36.000000   72.0         0.896741
9       9           104         212  ...   64.000000  120.0         0.953351
10     10           116         375  ...   20.000000  216.0         0.952802
11     11           129         384  ...   27.000000  188.0         0.897665
12     12           131         371  ...   80.421065   47.0         0.952402
13     13           133         309  ...    2.000000  169.0         0.949457
14     14           141         384  ...  156.000000   77.0         0.890903
15     15           147         384  ...   18.000000  248.0         0.894931
16     16           149         384  ...    4.000000  368.0         0.926698
17     17           158         384  ...  114.000000   81.0         0.736624
18     18           161         384  ...   11.000000  181.0         0.921240
19     19           172         380  ...  192.000000   79.0         0.900564

[20 rows x 20 columns]

In [0]:
# X = features ; y = lable
X_train = np.array(train.drop(['traininglabelorder.score'], 1))
y_train = np.array(train['traininglabelorder.score'])

X_test = np.array(test.drop(['traininglabelorder.score'], 1))
y_test = np.array(test['traininglabelorder.score'])

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [20]:
# classsifiers KNN

clf = neighbors.KNeighborsClassifier(n_neighbors=4)
clf.fit(X_train , y_train)

accuracy = clf.score(X_test, y_test)

print(accuracy)

ValueError: ignored

In [0]:
#example_measures = np.array([4,2,1,1,1,2,3,2,1]) 

example_measures = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])
example_measures = example_measures.reshape(len(example_measures),-1) 
prediction = clf.predict(example_measures)
print(prediction)

# class 2 = ben 2 4 = maligno

[2 2]