<a href="https://colab.research.google.com/github/polivio/PEE/blob/master/KNN_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/

# KNN example 
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
# preprocessing
df = pd.read_csv('https://github.com/polivio/PEE/raw/master/breast-cancer-wisconsin.csv')
df.replace('?', -99999, inplace= True)
df.drop(['id'] ,1, inplace= True)

df.head()

# comandos úteis
#df.shape
#699 objetos e 10 atributos

# df.columns
# descrição dos atributos

#df.count()
# contagem de dados não-nulos


#df.describe()
# resumo estatístico do DataFrame com quartis, mediana, etc.

   clump_thickness  unif_cell_size  ...  mitoses  class
0                5               1  ...        1      2
1                5               4  ...        1      2
2                3               1  ...        1      2
3                6               8  ...        1      2
4                4               1  ...        1      2

[5 rows x 10 columns]

In [14]:
df.columns

Index(['clump_thickness', 'unif_cell_size', 'unif_cell_shape', 'marg_adhesion',
       'single_epith_cell_size', 'bare_nuclei', 'bland_chrom', 'norm_nucleoli',
       'mitoses', 'class'],
      dtype='object')

In [0]:
# X = features ; y = lable
X = np.array(df.drop(['class'], 1))
y = np.array(df['class'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [16]:
# classsifiers KNN

clf = neighbors.KNeighborsClassifier(n_neighbors=8)
clf.fit(X_train , y_train)

accuracy = clf.score(X_test, y_test)

print(accuracy)

0.9857142857142858

In [17]:
#example_measures = np.array([4,2,1,1,1,2,3,2,1]) 

example_measures = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])
example_measures = example_measures.reshape(len(example_measures),-1) 
prediction = clf.predict(example_measures)
print(prediction)

# class 2 = ben 2 4 = maligno

[2 2]