<a href="https://colab.research.google.com/github/polivio/PEE/blob/master/KNN_KDD_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://www.kaggle.com/c/kddbr-2019/data

# KNN KDD BR -Polivio
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
# preprocessing # blob # raw
train = pd.read_csv('https://github.com/polivio/PEE/raw/master/Training_grouped.csv')
test = pd.read_csv('https://github.com/polivio/PEE/raw/master/Test_grouped.csv')

#df.replace('?', -99999, inplace= True)
#df.drop(['id'] ,1, inplace= True)

train.head()

          Unnamed: 0  ...  traininglabelorder.score
count   80000.000000  ...              8.000000e+04
mean    71577.124537  ...              6.814087e-01
std     41162.632999  ...              3.364197e-01
min         2.000000  ...              2.789468e-10
25%     35996.750000  ...              4.748332e-01
50%     71724.000000  ...              7.951960e-01
75%    107072.250000  ...              9.443186e-01
max    142761.000000  ...              1.000000e+00

[8 rows x 21 columns]

In [8]:
train.shape

train.columns
#train.count()
#train.describe()
#test.head()

Index(['Unnamed: 0', 'traininglabelorder.scatterplotID', 'qtde.ponto',
       'Negative', 'Sample', 'mean.signalX', 'sd.signalX', 'var.signalX',
       'kurtosis.signalX', 'skew.signalX', 'mean.signalY', 'sd.signalY',
       'var.signalY', 'kurtosis.signalY', 'skew.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette', 'traininglabelorder.score'],
      dtype='object')

In [0]:
# X = features ; y = lable
X = np.array(df.drop(['class'], 1))
y = np.array(df['class'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
# classsifiers KNN

clf = neighbors.KNeighborsClassifier(n_neighbors=8)
clf.fit(X_train , y_train)

accuracy = clf.score(X_test, y_test)

print(accuracy)

0.9857142857142858

In [0]:
#example_measures = np.array([4,2,1,1,1,2,3,2,1]) 

example_measures = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])
example_measures = example_measures.reshape(len(example_measures),-1) 
prediction = clf.predict(example_measures)
print(prediction)

# class 2 = ben 2 4 = maligno

[2 2]